[submodule "third_party/scod-regression"]
	path = third_party/scod-regression
	url = git@github.com:JakobThumm/scod-regression.git
[submodule "third_party/human-robot-animations"]
	path = third_party/human-robot-animations
	url = https://github.com/JakobThumm/human-robot-animations.git
[submodule "third_party/sara-shield"]
	path = third_party/sara-shield
	url = git@github.com:JakobThumm/sara-shield.git
